.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap
     /* Adjust the value to set the desired gap size */
  }

.flex-item-nav {
    padding: 10px;
    text-align: center;
    color: blue
  }

.flex-item-nav:visited{
  color: purple;
}

